log

# CMake build artifacts
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Editor files
*.swp
*.swo
*.user
*.vcxproj
*.DS_Store

# Binaries
*.out
*.exe
*.a
*.so
*.dll

# Colcon build artifacts
install/
log/

# VS Code workspace files
.vscode/
.github/

info